name: CMake CI

on:
 pull_request:
  types: [opened, synchronize, reopened, ready_for_review]

concurrency:
 group: ${{ github.ref }}
 cancel-in-progress: true

jobs:
 unix:
  if: github.event.pull_request.draft == false

  strategy:
   fail-fast: false
   matrix:
    os: [ubuntu-latest, macos-latest]
    generator: ['']
    compiler: [gcc, clang]
    linker: [DEFAULT]
    include:
     - os: ubuntu-latest
       compiler: icx
       cpack: true
     - os: ubuntu-latest
       compiler: musl-gcc
       linker: MOLD
       static: true
     - os: macos-latest
       generator: Xcode
     - os: macos-latest
       compiler: gcc
       compilerAlias: gcc-15
     - os: macos-latest
       compiler: clang
       linker: LLD
     - os: ubuntu-latest
       compiler: gcc
       linker: LLD
     - os: ubuntu-latest
       compiler: clang
       linker: LLD

  runs-on: ${{ matrix.os }}

  name: ${{ matrix.os }} - ${{ matrix.compiler || matrix.generator }} - ${{ matrix.static && 'STATIC' || 'SHARED' }} ${{ matrix.linker && format('- {0}', matrix.linker) || '' }} ${{ matrix.cpack && '- CPack' || '' }}

  steps:
   - name: Pulling project
     uses: actions/checkout@v6

   - name: Add Intel APT repository
     if: ${{ matrix.compiler == 'icx' }}
     working-directory: ${{ runner.temp }}
     run: |
      wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
      sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
      rm GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
      sudo add-apt-repository -y "deb https://apt.repos.intel.com/oneapi all main"
      sudo apt-get update -q

   - name: Install Intel oneAPI compiler
     if: ${{ matrix.compiler == 'icx' }}
     run: sudo apt-get install -y -q intel-oneapi-compiler-dpcpp-cpp

   - name: Setup Intel oneAPI environment
     if: ${{ matrix.compiler == 'icx' }}
     run: |
      source /opt/intel/oneapi/setvars.sh
      printenv >> $GITHUB_ENV

   - name: Install musl libc
     if: ${{ matrix.compiler == 'musl-gcc' }}
     run: |
      sudo apt-get update -q
      sudo apt-get install -y -q musl-tools

   - name: Install LLD linker
     if: ${{ matrix.linker == 'LLD' && runner.os == 'Linux' }}
     run: |
      sudo apt-get update -q
      sudo apt-get install -y -q lld

   - name: Install LLD linker
     if: ${{ matrix.linker == 'LLD' && runner.os == 'macOS' }}
     run: brew install lld

   - name: Install mold linker
     if: ${{ matrix.linker == 'MOLD' }}
     uses: rui314/setup-mold@v1

   - name: Setup CMake
     id: cmake
     uses: threeal/cmake-action@v2
     with:
      source-dir: src
      generator: ${{ matrix.generator }}
      c-compiler: ${{ matrix.compilerAlias || matrix.compiler }}
      build-args: --config Release ${{ matrix.cpack && '--target package' || '' }}
      options: ${{ matrix.linker && format('CMAKE_LINKER_TYPE={0}', matrix.linker) || '' }} ${{ matrix.static && 'BUILD_SHARED_LIBS=OFF' || '' }}

   - name: Install
     if: ${{ ! matrix.cpack }}
     run: sudo cmake --install ${{ steps.cmake.outputs.build-dir }} --config Release --strip

   - name: Install with CPack
     if: ${{ matrix.cpack }}
     working-directory: ${{ steps.cmake.outputs.build-dir }}
     run: sudo apt install -y -q ./pbwt-1.0.0-${{ runner.os }}.deb

   - name: Run program
     run: pbwt -h

   - name: Prepare for tests
     run: tar -c -f ${{ runner.temp }}/bwt.tar .

   - name: Compression test using FILE
     working-directory: ${{ runner.temp }}
     run: pbwt -p 9 -o bwt-file.tar.bwt bwt.tar

   - name: Compression test using STDIN
     working-directory: ${{ runner.temp }}
     run: cat bwt.tar | pbwt -p 9 -o bwt-stdin.tar.bwt

   - name: Compression test using STDOUT
     working-directory: ${{ runner.temp }}
     run: pbwt -p 9 -v -c bwt.tar > bwt-stdout.tar.bwt

   - name: Decompression test using FILE
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-file.tar bwt-file.tar.bwt

   - name: Decompression test using STDIN file
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-stdin.tar bwt-stdin.tar.bwt

   - name: Decompression test using STDOUT file
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-stdout.tar bwt-stdout.tar.bwt

   - name: Compare decompressed files 1/3
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-file.tar

   - name: Compare decompressed files 2/3
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-stdin.tar

   - name: Compare decompressed files 3/3
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-stdout.tar

 windows:
  if: github.event.pull_request.draft == false

  strategy:
   fail-fast: false
   matrix:
    generator: ['']
    arch: [Win32, x64]
    toolset: ['', ClangCL]
    linker: [DEFAULT, LLD]
    static: [false, true]
    include:
     - generator: 'MinGW Makefiles'
       compiler: gcc
       static: true
     - generator: 'MinGW Makefiles'
       compiler: gcc
       linker: LLD
     - generator: 'MinGW Makefiles'
       compiler: clang
       static: true
     - generator: 'MinGW Makefiles'
       compiler: clang
       linker: LLD

  runs-on: windows-latest

  name: Windows - ${{ matrix.generator || 'Visual Studio' }} - ${{ matrix.compiler || matrix.arch }} - ${{ matrix.static && 'STATIC' || 'SHARED' }} ${{ matrix.linker && format('- {0}', matrix.linker) || '' }} ${{ matrix.toolset && format('- {0}', matrix.toolset) || '' }}

  steps:
   - name: Pulling project
     uses: actions/checkout@v6

   - name: Setup CMake
     id: cmake
     uses: threeal/cmake-action@v2
     with:
      source-dir: src
      generator: ${{ matrix.generator }}
      c-compiler: ${{ matrix.compiler }}
      args: ${{ matrix.arch && format('-A {0}', matrix.arch) || '' }} ${{ matrix.toolset && format('-T {0}', matrix.toolset) || '' }}
      build-args: --config Release
      options: ${{ matrix.linker && format('CMAKE_LINKER_TYPE={0}', matrix.linker) || '' }} ${{ matrix.static && 'BUILD_SHARED_LIBS=OFF' || '' }}

   - name: Install
     run: |
      cmake --install ${{ steps.cmake.outputs.build-dir }} --config Release --strip --prefix ${{ runner.temp }}\pbwt
      echo ${{ runner.temp }}\pbwt >> $GITHUB_PATH

   - name: Run program
     working-directory: ${{ runner.temp }}
     run: pbwt -h

   - name: Prepare for tests
     run: tar -c -f ${{ runner.temp }}\bwt.tar .

   - name: Compression test using FILE
     working-directory: ${{ runner.temp }}
     run: pbwt -p 9 -o bwt-file.tar.bwt bwt.tar

   - name: Compression test using STDIN
     working-directory: ${{ runner.temp }}
     shell: bash
     run: cat bwt.tar | pbwt -p 9 -o bwt-stdin.tar.bwt

   - name: Compression test using STDOUT
     working-directory: ${{ runner.temp }}
     shell: bash
     run: pbwt -p 9 -v -c bwt.tar > bwt-stdout.tar.bwt

   - name: Decompression test using FILE
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-file.tar bwt-file.tar.bwt

   - name: Decompression test using STDIN file
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-stdin.tar bwt-stdin.tar.bwt

   - name: Decompression test using STDOUT file
     working-directory: ${{ runner.temp }}
     run: pbwt -d -o bwt-stdout.tar bwt-stdout.tar.bwt

   - name: Compare decompressed files 1/2
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-file.tar

   - name: Compare decompressed files 2/3
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-stdin.tar

   - name: Compare decompressed files 3/3
     working-directory: ${{ runner.temp }}
     run: cmp -s bwt.tar bwt-stdout.tar
